<section>
    <h2>Create New Blog</h2>

    <form class="blog-form">
        <div>
            <label for="">Title</label>
            <input type="text" name="blog-title" />
        </div>
        <div>
            <label for="">Tell Us About It</label>
            <input type="text" name="blog-text"/>
        </div>
        <button type="submit">Blog</button>
    </form>
</section>

