<section>
  <h2>
    Create New Blog
  </h2>
  <form class="blog-form">
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text form-span" id="inputGroup-sizing-default">
        Title
      </span>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="blog-title">
    </div>
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text form-span" id="inputGroup-sizing-default form-span">
        Tell Us About It
      </span>
      <textarea
        class="form-control"
        aria-label="With textarea"
        name="blog-text"
      ></textarea>
    </div>
    <button type="submit" class="btn">
      Blog
    </button>
  </form>
</section>
{{#if blogs.length}}
<section>
  <h2>Your Blogs</h2>
  <ol>
    {{#each blogs as |blog|}}
    <li>
         {{> blog-info blog}}
         <a href="/dashboard/edit/{{blog.id}}">Edit Blog</a>
    </li>
    {{/each}}
</ol>
</section>
{{/if}}
<script src="/javascript/new-blog.js"></script>

