<article>
    <a href="/dashboard">&larr; Back to dashboard</a>
    <h2>Edit Blog</h2>
    <form class="edit-blog">
        <div>
            <input type="text" name="blog-title" value="{{blog.title}}" />
        </div>
        <div>
            <a href="/blog/{{blog.id}}">{{blog.comments.length}} {{format_plural "comment" blog.comments.length}}</a>
        </div>
        <button type="submit">Save Blog</button>
        <button type="button" class="delete-blog">Delete Blog</button>
    </form>
</article>

<form class="comment-form">
    <div>
        <textarea name="comment-input"></textarea>
    </div>
    <div>
        <button type="submit">Add Comment</button>
    </div>
</form>
    {{> comments blog.comments}}

    <script src="/javascript/edit-blog.js"></script>
    <script src="/javascript/delete-blog.js"></script>
    <script src="/javascript/comment.js"></script>