<form class="login-form">
  <div>
    <label for="email-login">
      Email:
    </label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">
      Password:
    </label>
    <input type="password" id="password-login" />
  </div>
  <button type="submit" class="btn">
    Login
  </button>
</form>
<form class="sign-form">
  <div>
    <label for="username-sign">
      Username:
    </label>
    <input type="text" id="username-sign" />
    <label for="email-sign">
      Email:
    </label>
    <input type="text" id="email-sign" />
  </div>
  <div>
    <label for="password-sign">
      Password:
    </label>
    <input type="password" id="password-sign" />
  </div>
  <button type="submit" class="btn">
    Signup
  </button>
</form>

<script src="/javascript/login.js"></script>