<form class="login-form">
  <div>
    <input type="text" class="input" id="email-login" placeholder="Email" />
  </div>
  <div>
    <input
      type="password"
      class="input"
      id="password-login"
      placeholder="Password"
    />
  </div>
  <button type="submit" class="btn">
    Login
  </button>
</form>
<form class="sign-form">
  <div>
    <input
      type="text"
      class="input"
      id="username-sign"
      placeholder="Username"
    />
  </div>
  <div>
    <input type="text" class="input" id="email-sign" placeholder="Email" />
  </div>
  <div>
    <input
      type="password"
      class="input"
      id="password-sign"
      placeholder="Password"
    />
  </div>
  <button type="submit" class="btn">
    Signup
  </button>
</form>
<script src="/javascript/login.js"></script>